a{
	text-decoration-line: none;
	text-decoration-style: initial;
}

svg{
	x: 0px;
	y: 0px;
	width: 120px;
	height: 120px;
	enable-background: new 0 0 120 120; 
}

body{
	font-family: 'Indie Flower', sans-serif;	
}
